# The file containing environment variables
.env
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore IDE specific files
.idea/
.vscode/

#ignore build file
alfred
go_build_alfred
go_build_platform
go_build_backend_
repositories/
repositories
vendor

# temporary remove for production
./tests

config_dev.yml

#test file
coverage.out
.cover
cover

# Build artifacts
bin/
